# Distribution / Packages
downloads/
lib/
lib64/
var/
MANIFEST
dist/
build/
.Python

# Compiled / optimized / DLL files
__pycache__/
*.py
*.py.class

# Others
$ cat .gitignore
/logs/*
!logs/.gitkeep
/tmp
*.swp
